*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
/* -------------- for dark mode ------------ */
.clockHolderB{
    height: 100%;
    color:white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(30, 30, 30);
}
/* -------------- for white mode ------------ */
.clockHolderW{
    height: 100%;
    width: 100%;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(201, 201, 201);
}
/* -------------- for dark mode ------------ */
.clockB{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 330px;
    width: 330px;
    border-radius: 50%;
    box-shadow: -8px -8px 9px rgb(60, 60, 60),
                8px 8px 9px rgb(0, 0, 0),
                inset -8px -8px 9px rgb(60, 60, 60),
                inset 8px 8px 9px rgb(0, 0, 0);
}
/* -------------- for white mode ------------ */
.clockW{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 330px;
    width: 330px;
    border-radius: 50%;
    box-shadow: -8px -8px 9px rgb(255, 255, 255),
                8px 8px 9px rgb(119, 119, 119),
                inset -8px -8px 9px rgb(255, 255, 255),
                inset 8px 8px 9px rgb(117, 117, 117);
}
.hours{
    display: flex;
    justify-content: center;
    height: 300px;
    width: 300px;
    /* background-color: brown; */
    position: absolute;
    /* transform: rotate(90deg); */
}
.miuts{
    display: flex;
    justify-content: center;
    height: 300px;
    width: 300px;
    /* background-color: brown; */
    position: absolute;
    /* transform: rotate(180deg); */
}
.second{
    display: flex;
    justify-content: center;
    height: 300px;
    width: 300px;
    /* background-color: brown; */
    position: absolute;
    /* transform: rotate(50deg); */
}
.Hstic{
    height: 100px;
    width: 6px;
    margin-top: 50px;
    background-color: red;
    position: absolute;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    justify-content: center;
}
.Mstic{
    height: 125px;
    width: 4px;
    margin-top: 25px;
    background-color: red;
    position: absolute;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    justify-content: center;
}
.Sstic{
    height: 150px;
    width: 2px;
    background-color: red;
    position: absolute;
    display: flex;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    justify-content: center;
}
.Dours{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 0, 0);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    z-index: 1;
}
.Dstic{
    background-color: rgb(0, 0, 0);
    height: 4px;
    width: 4px;
    border-radius: 50%;
    z-index: 2;
}
/* ----------------Number indicator-------------- */
#twelve{
    display: flex;
    justify-content: center;
    height: 300px;
    width: 300px;
    /* background-color: brown; */
    position: absolute;
}
#six{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 300px;
    width: 300px;
    /* background-color: brown; */
    position: absolute;
}
#three{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    height: 300px;
    width: 300px;
    /* background-color: brown; */
    position: absolute;
    
}
#nine{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    height: 300px;
    width: 300px;
    /* background-color: brown; */
    position: absolute;
}
#header{
    align-self: flex-start;
    height: 50px;
    width: 50px;
    right: 0;
    top: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
}
#innerheader{
    position: relative;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modeimgB{
    position: absolute;
    height: 70%;
    width: 70%;
    border-radius: 50%;
    box-shadow: -3px -3px 4px rgb(60, 60, 60),
                3px 3px 4px rgb(0, 0, 0);
}
.modeimgW{
    position: absolute;
    height: 70%;
    width: 70%;
    border-radius: 50%;
    box-shadow: -3px -3px 4px rgb(255, 255, 255),
                3px 3px 4px rgb(119, 119, 119);
}
#innerheader:active{
    height: 40px;
    width: 40px;
}

@media screen and (max-width : 400px){
    #clock{
        transform: scale(0.85);
    }
}
@media screen and (min-width : 400px) and (max-width : 600px){
    #clock{
        transform: scale(0.9);
    }
}
@media screen and (min-width : 600px) and (max-width : 800px){
    #clock{
        transform: scale(1);
    }
}

@media screen and (min-width : 800px){
    #clock{
        transform: scale(1.9);
    }
}